<div class="row">
    <div class="col-2 text-center">
        <img src="assets/images/books/{{book?.picture}}" width="80%">
    </div>
    <div class="col-10">
        <h2 class="display-4">{{book?.name}}</h2>
        <p>{{book?.description}}</p>
        <div class="row">
            <div class="col-12">
                <div class="pt-5">
                    <div class="float-left">
                        <strong>{{book?.price | currency: 'USD'}}</strong>
                    </div>
                    <div class="float-right">
                        <strong>{{book?.grade}}/5</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="pt-2">
                    <div class="float-left">
                        <img src="assets/images/discount.png" *ngIf="book?.discount == true" width="75px">
                        <img src="assets/images/bestseller.jpg" *ngIf="book?.bestseller == true" width="75px">
                    </div>
                    <div class="float-right">
                        <button type="button" class="btn btn-primary" (click)="addBook()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>